/*** Variabes ***/

:root {
  --accent: #146E4D;
  --main-body: #EDEDE8;
  --white: #FFFFFF;
  --text-primary: #000000;
  --text-secondary: #5B5B5B;
  --icon-primary: #767673;
  --button-bg-primary: #DADFD2;
  --border-primary: #CFCFCB; 
  --border-secondary: #4A4A4A;
}

/*** Primary ***/

html {
  font-family: Proza Libre;
  font-size: 16px;
  color: var(--text-secondary);
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  line-height: 1.875rem;
  border: 0.5rem solid var(--white);
  background: var(--main-body);
  position: relative;
  padding: 2rem;
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 2rem;
}

*, ::before, ::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  display: none;
}

/* Typography */

@font-face {
  font-family: Proza Libre;
  src: url(./assets/type/proza-libre_regular.ttf);
}

@font-face {
  font-family: Proza Libre;
  src: url(./assets/type/proza-libre_semi-bold.ttf);
  font-weight: bolder;
}

@font-face {
  font-family: Cormorant Garamond;
  src: url(./assets/type/cormorant-garamond_regular.ttf);
}

h1, h3, p {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: Cormorant Garamond;
  font-size: 2.25rem;
  line-height: 2.75rem;
  color: var(--text-primary);
}

h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
}

/* Anchors */

a {
  color: var(--accent);
  font-weight: 400;
  line-height: 1.375rem;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}

/* Buttons */

button {
  display: grid;
  place-items: center;
  border: none;
}

button:hover {
  cursor: pointer;
}

button, svg .icon {
  transition: all 100ms cubic-bezier(0.1, 0.7, 1.0, 0.1); 
}

/* Horizontal Ruler */

hr {
  height: 1px; 
  background: var(--border-primary);
  width: 100%;
  border: none;
}

/* Main Layout */

header, main, article, section, img {
  display: grid;
}

header, article, hr {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

header.main-header {
  height: max-content;
}

main {
  gap: 2rem;
  grid-auto-rows: max-content;
}

article {
  gap: 1.5rem;
}

/*** Children/Modules ***/

.main-header__logo {
  height: 18px;
  width: auto;
  justify-self: center;
}

.listing {
  grid-template:
      'image' 1fr
      'info' max-content
      / 1fr;
}

.listing__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  grid-area: image;
}

.listing__info {
  grid-area: info;
  grid-auto-rows: max-content;
  gap: 1rem;
  width: 100%;
}

.listing__subheading {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.listing__row {
  display: grid;
  gap: 1rem;
  align-items: center;
}

.listing__row--links {
  padding-bottom: 1.5rem;
  border-bottom: 1px dashed var(--border-secondary);
}

.listing__link--more i {
  margin-left: 0.5rem;
}

.listing__social-links {
  gap: 1.25rem;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
}

.listing__link--social {
  min-height: 2rem;
  min-width: 2rem;
  display: grid;
  place-items: center;
}

.listing__link--social:hover .icon {
  fill: var(--text-secondary)
}

.listing__row--cta {
  grid-template-columns: 1fr max-content;
  padding-top: 0.75rem;
}

.listing__price {
  line-height: 1.375rem;
}

.listing__btn--primary {
  padding: 1rem 2rem;
  min-width: 10.625rem;
  background: var(--button-bg-primary);
  color: var(--accent);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.listing__btn--primary:hover {
  background: var(--accent);
  color: var(--white);
}

/*** Media Queries *** NOTE: Styles are written mobile-first. ***/

/* Break-point: Tablet (768) */

@media screen and (min-width: 768px) {

  body {
    border: 1.125rem solid var(--white);
    gap: 4rem;
    padding: 2rem;
  }

  .main-header__logo {
    height: 24px;
    justify-self: unset;
  }

  main {
    gap: 4rem;
  }

  h1 {
    font-size: 3.5rem;
    line-height: 4.3125rem;
  }

  .listing__row--links {
    grid-template-columns: 1fr max-content;
  }
}

/* Break-point: Larger Devices (tablet landscape, smaller/resized desktop windows)  */

@media screen and (min-width: 992px) {
  article.listing {
    grid-template:
        'image info' auto
        / 1fr max-content; 
    gap: 2.5rem;
  }

  .listing__info {
    max-width: 414px;
  }
}
